html {
  font-size: $font-size;
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  font-weight: $font-weight;
  line-height: $font-height;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,
a:link,
a:visited {
  text-decoration: none;
}
input,
button,
textarea,
select {
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border-width: 0px;
}

input::-ms-clear {
  display: none;
}
input:focus-visible {
  outline: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.slick-prev:before,
.slick-next:before {
  color: #382e2b !important;
}
